<footer class="foot" id="info">
  <div class="wrap foot__in">
    <img class="foot__crest" src="img/logo/original-league-logo.jpg" alt="Tri-County Slo-Pitch League">
    <div class="foot__col">
      <h3>Tri-County Slo-Pitch</h3>
      <p>Adult recreational co-ed slo-pitch<br>Kitchener &amp; Waterloo, Ontario</p>
    </div>
    <div class="foot__col">
      <h3>League</h3>
      <p><a href="schedule.html">Schedule</a><br><a href="standings.html">Standings</a><br><a href="teams.html">Teams</a><br><a href="rules.html">Rules</a><br><a href="venues.html">Venues</a><br><a href="fees.html">Fees</a><br><a href="seasons.html">Past seasons</a><br><a href="faq.html">FAQ</a><br><a href="sponsors.html">Sponsors</a></p>
    </div>
    <div class="foot__col">
      <h3>Join</h3>
      <p>Register for the <b data-reg-year>2027</b> season.<br><a data-contact href="contact.html">Get in touch</a></p>
    </div>
  </div>
  <div class="wrap foot__base"><small>&copy; <span data-reg-year>2027</span> Tri-County Slo-Pitch League</small></div>
</footer>
